name: Build Shopify Tracker Docker Image

on:
  workflow_call:
    inputs:
      img_tag:
        required: true
        type: string
      target:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  id-token: write # allows the JWT to be requested from GitHub's OIDC provider
  contents: read # This is required for actions/checkout

jobs:
  build-images:
    name: Build Docker Images
    strategy:
      matrix:
        build-config:
          - os: [self-hosted, linux, ARM64, ubuntu-22]
            tags: ${{ format('rudderstack/rudder-shopify-tracker:{0}-arm64', inputs.img_tag) }}
            platform: linux/arm64
          - os: [self-hosted, Linux, X64]
            tags: ${{ format('rudderstack/rudder-shopify-tracker:{0}-amd64', inputs.img_tag) }}
            platform: linux/amd64
    runs-on: ${{ matrix.build-config.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 # v5.0.0
        with:
          aws-region: ${{ vars.AWS_ECR_REGION }}
          role-to-assume: ${{ vars.AWS_ECR_IAM_ROLE_ARN }}
          role-session-name: ${{ github.event.repository.name }}-build-push

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # 2.0.1

      - name: Build and Push Multi-platform Images to ECR
        uses: rudderlabs/build-scan-push-action@96d7bfca912dd2e8805dbb322dc2540504ecac1e # v2.1.0
        with:
          context: .
          file: Dockerfile
          target: ${{ inputs.target }}
          push: true
          tags: ${{ format('{0}/{1}', steps.login-ecr.outputs.registry, matrix.build-config.tags) }}
          platforms: ${{ matrix.build-config.platform }}

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Multi-platform Images to DockerHub
        uses: rudderlabs/build-scan-push-action@d4991410238cec1b416875f1eb0e7a4565ac29aa # v1.8.2
        with:
          context: .
          file: Dockerfile
          target: ${{ inputs.target }}
          push: true
          tags: ${{ matrix.build-config.tags }}
          platforms: ${{ matrix.build-config.platform }}

  create-manifest-ecr:
    name: Create multi-arch manifest for ECR
    runs-on: ubuntu-latest
    needs: [build-images]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 # v5.0.0
        with:
          aws-region: ${{ vars.AWS_ECR_REGION }}
          role-to-assume: ${{ vars.AWS_ECR_IAM_ROLE_ARN }}
          role-session-name: ${{ github.event.repository.name }}-manifest

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # 2.0.1

      - name: Create multi-arch manifest for ECR
        run: |
          tag=${{ steps.login-ecr.outputs.registry }}/rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}
          docker buildx imagetools create -t $tag $tag-amd64 $tag-arm64

      - name: Create latest multi-arch manifest for ECR
        run: |
          tag=${{ steps.login-ecr.outputs.registry }}/rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}
          docker buildx imagetools create -t ${{ steps.login-ecr.outputs.registry }}/rudderstack/rudder-shopify-tracker:latest $tag-amd64 $tag-arm64

  create-manifest-dockerhub:
    name: Create multi-arch manifest for DockerHub
    runs-on: ubuntu-latest
    needs: [build-images]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create multi-arch manifest
        run: |
          tag=rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}
          docker buildx imagetools create -t $tag $tag-amd64 $tag-arm64

      - name: Create latest multi-arch manifest
        run: |
          tag=rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}
          docker buildx imagetools create -t rudderstack/rudder-shopify-tracker:latest $tag-amd64 $tag-arm64
