name: Build Artifacts for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  generate-tag:
    name: Generate docker tag
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{steps.gen_tag_names.outputs.tag_name}}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1
          
      - name: Validate Branch Name
        id: validate_branch_name
        run: |
          # Perform input validation here
          # For example, check for forbidden characters
          if [[ "${{ github.head_ref }}" =~ [^a-zA-Z0-9._-/] ]]; then
            echo "Error: Branch name contains invalid characters."
            exit 1
          fi


      # Replace problematic characters in branch name (like '/') with safe characters (like '.')
      - name: Generate Tag Names
        id: gen_tag_names
        run: |
          tag_name=branch-$(echo ${{ github.head_ref }} | tr "/" .)
          echo "Tag Name: $tag_name"
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT

  build:
    name: Build Shopify Tracker Docker Image
    uses: ./.github/workflows/build-and-push-docker-image.yml
    needs: [generate-tag]
    with:
      img_tag: ${{ needs.generate-tag.outputs.image_tag }}
      target: development
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}