name: Build Shopify Tracker Docker Image

on:
  workflow_call:
    inputs:
      img_tag:
        required: true
        type: string
      target:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  id-token: write # allows the JWT to be requested from GitHub's OIDC provider
  contents: read # This is required for actions/checkout

jobs:
  build-shopify-tracker-image-arm64:
    name: Build Shopify Tracker Docker Image ARM64
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Images
        uses: rudderlabs/build-scan-push-action@d4991410238cec1b416875f1eb0e7a4565ac29aa # v1.8.2
        with:
          context: .
          file: Dockerfile
          target: ${{ inputs.target }}
          platforms: |
            linux/arm64
          push: true
          tags: rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-arm64

  build-shopify-tracker-image-amd64:
    name: Build Shopify Tracker Docker Image AMD64
    runs-on: [self-hosted, Linux, AMD64]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Images
        uses: rudderlabs/build-scan-push-action@d4991410238cec1b416875f1eb0e7a4565ac29aa # v1.8.2
        with:
          context: .
          file: Dockerfile
          target: ${{ inputs.target }}
          platforms: |
            linux/amd64
          push: true
          tags: rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-amd64

  create-manifest:
    name: Create multi-arch manifest
    runs-on: ubuntu-latest
    needs: [build-shopify-tracker-image-amd64, build-shopify-tracker-image-arm64]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create multi-arch manifest
        run: |
          docker buildx imagetools create -t rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }} rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-amd64 rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-arm64

      - name: Create latest multi-arch manifest
        run: |
          docker buildx imagetools create -t rudderstack/rudder-shopify-tracker:latest rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-amd64 rudderstack/rudder-shopify-tracker:${{ inputs.img_tag }}-arm64
