name: Create New Hotfix Branch

on:
  workflow_dispatch:
    inputs:
      hotfix_name:
        description: Hotfix branch name
        required: true

jobs:
  create-branch:
    name: Create New Hotfix Branch
    runs-on: ubuntu-latest

    # Only allow these users to create new hotfix branch from 'main'
    if: github.ref == 'refs/heads/main' && (github.actor == 'ItsSudip' || github.actor == 'krishna2020' || github.actor == 'utsabc' || github.actor == 'shrouti1507') && (github.triggering_actor == 'ItsSudip' || github.triggering_actor == 'krishna2020' ||  github.triggering_actor == 'shrouti1507' || github.triggering_actor == 'utsabc')
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Create Branch
        uses: peterjgrainger/action-create-branch@08259812c8ebdbf1973747f9297e332fa078d3c1 # v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          branch: 'hotfix/${{ inputs.hotfix_name }}'
