name: Create New Hotfix Branch

on:
  workflow_dispatch:
    inputs:
      hotfix_name:
        description: Hotfix branch name
        required: true

jobs:
  validate-actor:
    uses: ./.github/workflows/validate-actor.yml
    with:
      team_names: 'integrations'

  create-branch:
    name: Create New Hotfix Branch
    runs-on: ubuntu-latest
    needs: validate-actor
    permissions:
      contents: read # GITHUB_TOKEN only needs read for checkout
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ vars.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_PRIVATE_KEY }}
          permission-contents: write # to create branches

      - name: Create Branch
        uses: peterjgrainger/action-create-branch@08259812c8ebdbf1973747f9297e332fa078d3c1 # v2.4.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          branch: 'hotfix/${{ inputs.hotfix_name }}'
