name: Prepare for Rollback in Production Environment

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate-actor:
    uses: ./.github/workflows/validate-actor.yml
    with:
      team_names: 'integrations'
    secrets:
      PAT: ${{ secrets.PAT }}


  create-rollback-pr:
    permissions:
      contents: write  # for Git to git push
    name: Update Helm Charts For Production and Create Pull Request
    runs-on: ubuntu-latest
    needs: validate-actor

    # Only allow to be deployed from tags and main branch
    # Only allow specific actors to trigger
    if: (startsWith(github.ref, 'refs/tags/') || startsWith(github.ref, 'refs/heads/main'))

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Get Target Version
        id: target-version
        run: |
          version=${{ github.ref_name }}
          echo "tag_name=$version" >> $GITHUB_OUTPUT
          echo "Target Version: $tag_name"

      # In order to make a commit, we need to initialize a user.
      # You may choose to write something less generic here if you want, it doesn't matter functionality wise.
      - name: Initialize Mandatory Git Config
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "noreply@github.com"

      - name: Update Helm Charts and Raise Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          git clone https://${{secrets.PAT}}@github.com/rudderlabs/rudder-devops.git
          cd rudder-devops
          git checkout -b rudder-shopify-tracker-rollback-${{ steps.target-version.outputs.tag_name }}

           cd helm-charts/helm/shopify-tracking
          yq eval -i ".image.tag=\"${{ steps.target-version.outputs.tag_name }}\"" values.yaml
          yq eval -i ".image.repository=\"$SP_IMAGE_REPOSITORY\"" values.yaml
          git add values.yaml
          git commit -m "chore: rollback shopify tracker to ${{ steps.target-version.outputs.tag_name }}"
          git push -u origin shopify-tracker-$VERSION
          hub pull-request -m "chore: rollback shopify tracker to ${{ steps.target-version.outputs.tag_name }}"
