name: Tests with lint check and code coverage
on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

  pull_request:
    types: ['opened', 'reopened', 'synchronize']

jobs:
  coverage:
    name: Tests with lint check and code coverage
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests & lint check
        run: |
          npm run test
          npm run check:lint

      - name: Upload Coverage Reports to Codecov
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3.1.4
        with:
          directory: ./reports/coverage

      - name: Update sonar-project.properties
        run: |
          # Retrieve the version from package.json
          version=$(node -e "console.log(require('./package.json').version)")
          # Update the sonar-project.properties file with the version
          sed -i "s/sonar.projectVersion=.*$/sonar.projectVersion=$version/" sonar-project.properties

      - name: Fix filesystem paths in generated reports
        if: always()
        run: |
          sed -i 's+home/runner/work/rudderstack-shopify-tracker/rudderstack-shopify-tracker+/github/workspace+g' reports/coverage/lcov.info
          sed -i 's+/home/runner/work/rudderstack-shopify-tracker/rudderstack-shopify-tracker+/github/workspace+g' reports/eslint.json


      - name: SonarCloud Scan
        if: always()
        uses: SonarSource/sonarcloud-github-action@eb211723266fe8e83102bac7361f0a05c3ac1d1b # v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
